<div class="container">
    <h1>My Awesome Application</h1>
    <ul>
        <li>{{#linkTo "about"}}About{{/linkTo}}</li>
        <li>{{#linkTo "contact"}}Contact{{/linkTo}}</li>
    </ul>
    <div class="content">
        {{outlet}}
    </div>
</div>
